<div class="wrapper">
    <div class="form-container">
        <a routerLink="/login" id="goback">Zurück</a>
        <h2>eMail Login</h2>

        <span class="error" *ngIf="authenticationService.loginError">{{ authenticationService.loginError }}</span>

        <form #formData='ngForm' (ngSubmit)="SignIn()">

          <input type="text" placeholder="Email Adresse.." [(ngModel)]="email" name="email" class="txt" required>
          <input type="password" placeholder="Passwort" [(ngModel)]="password" name="password" class="txt" required>

          <button type="submit" class="basic-btn">Einloggen</button>
          <a routerLink="/signup" class="alc">Du hast noch keinen Account?</a>
      </form>
    </div>
</div>
