<header>
  <div class="container">
    <a href="#" class="logo"><img src="assets/images/logo.png"> GG Tournament</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a>
        <li><a href="#" routerLink="/show-tournament">Turniere</a>
        <li *ngIf="authenticationService.userData | async"><a href="#" routerLink="/my-matches">Meine Kämpfe</a>
        <li *ngIf="authenticationService.userData | async"><a title="Einstellungen" href="#" routerLink="/settings"><mat-icon>settings</mat-icon></a>
        <li *ngIf="!(authenticationService.userData | async)"><a title="Login" href="#" routerLink="/login"><mat-icon>exit_to_app</mat-icon></a>
        <li *ngIf="authenticationService.userData | async"><a title="Logout" href="#" (click)="signOut()"><mat-icon>logout</mat-icon></a>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>

</footer>
