/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$primary: rgb(103, 58, 183);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.basic-btn {
    background: $primary;
    color:white;
}

header {
    background: $primary;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: none;
        }

        img {
            height: 4em;
        }
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;


        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;
                line-height: 4em;

                .mat-icon {
                  vertical-align: middle;
                }

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
